body {
    /*font-family: Verdana,sans-serif;*/
    font-family: Georgia, serif;
}

.pdfreport-header {
    border-bottom: 1px solid #000;
}

.pdfreport-table {
    /*border: 1px solid #CCC;*/
    border-collapse:collapse;
    
}



.pdfreport-table th, .pdfreport-table td {
    padding: 5px;
   border: 1px solid #CCC; 
   font-size: 12px;
}

.pdfreport-table2 th, .pdfreport-table2 td {
    padding: 5px;
   
   font-size: 12px;
}

.pdfreport-noborder tr, .pdfreport-noborder td {
    border: none;
}


.pdfreport-h1 {
  
   font-size: 20px;
}

.pdfreport-h2 {
    font-size: 16px;
}