html, body {
	height: 100%;
}

body{
	
	background-color: #FFF !important;

}

.login-top {
	padding: 100px 0px 0px 0px;
}

.master-container {
	
	background-color: #EEEEEE;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;

	/*padding: 0px 5px 20px 5px;*/

	border: 1px solid #CCCCCC;
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);


}

.lra-module-title {
	background-color: #af0000;
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	color: #FFF;
	margin-bottom: 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 3px;
}

.lra-footer {
	padding: 20px;
}

.height100{
	min-height: 100%;
	height: 100%;
}

.align-center {
	text-align: center !important;
}
.lra-clear{
	clear: both;
	padding: 0px;
	margin: 0px;
}

.lra-marginbottom10{
	margin-bottom: 10px;
}

.lra-entry-form {
	margin: 0px;
}

.lra-left-top-input {
	float: left !important;
	margin-right: 10px;
}

.lra-hide-me{
	display: none;
}

a.lra-sample-format-link {
	font-size: 11px;
	color: #00F;
	text-decoration: underline;
}

/* for forms */
.inline-label {
	display: inline;
	margin-bottom: 5px;
	min-height: 20px;
	padding-left: 20px;

	font-size: 14px;
	font-weight: normal;
	line-height: 20px;

}

.inline-label input[type="checkbox"] {
	
	margin-left: -20px;
	margin: 4px 0 0;

	line-height: normal;
}

.myaccount-link{

}

.droplist {
	width: 70px !important;
}

.droplist150 {
	width: 150px !important;
}

.table-no-border td {
	border-top: 0px solid #000 !important;	
}

#enhancers_elements .basic_input {
	padding: 1px;
	color: #000;
	display: table;
	width: 350px;
}
.textarea150 {
	width: 150px !important;
}


/* TOUCHPOINT AND ELEMENTS */
.element_caption, .auditors_element_caption {
	padding: 5px;
	background-color: #CCC;
	font-weight: bold;
	height: 25px;
	
}
.element_caption:hover {
	background-color: #99CCFF;
	border: 1px dashed #000;
	padding: 5px;
	cursor: move;
}

.element_fields {
	padding: 5px 15px 5px 5px;
	/*padding: 5px;*/
	border: 1px solid #CCC;
	margin-bottom: 10px;
}

.element_entry {
	border: 1px solid #CCC;
	padding: 3px;
	margin-bottom: 5px;
	cursor: move;
}

.element_entry:hover {
	background-color: #FFFFCC;
	border: 1px dashed #000;
	padding:5px;
}

.red-background {
	background-color: #F00;
}


/* bootstrap hacks */

.navbar {
	margin-bottom: 10px !important;
	
}
.well-green {
	/*background-color: #E0E0E0 !important;*/
	background-color: #CCCC99 !important;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #CCCC99 0%, #99CCFF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #CCCC99 0%, #99CCFF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #CCCC99 0%, #99CCFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEEEEE), color-stop(1, #CCCC99));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #CCCC99 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #EEEEEE 0%, #CCCC99 100%);
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  /*background-color: #3366CC !important;*/
  background-color: #af0000 !important;
  
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
}

.navbar .nav > li > a {
  color: #777777 !important;
}

ul.nav li a{
	color: #00255B;
}

.nav-list {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.nav-list .divider {
	border-bottom: 1px solid #CCC !important;
}

.dropdown-menu:before, .dropdown-menu:after{
	content: none !important;
	border: none !important;
}
.dropdown-menu {
	border-radius: 0 !important;
}

.dropdown-menu a {
	color: #333 !important;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a{
	background-color: #af0000 !important;
	color: #fff !important;
	background-image: none !important;
}

.label,
.badge {
  
  /*width: 50px;*/
  text-align: center;
 
}

.well {
	border: 1px solid rgb(158, 158, 158) !important;
}


/* jquery */

#delete-question{
	display: none;
}

/* audit template manager */

.no-display {
    display: none;
}

.controls .jqte {
	border: none ;
	margin-top: 2px;
}

.controls .jqte  .jqte_editor {
	min-height: 200px;
}
#the_content .well-small>img{
	width: 100%;
}

.tooltip-button {
	cursor: pointer;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus,
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus
 {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: #af0000 !important;
	color: #fff !important;

}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}


textarea{
	resize: none;
}
.product_thumbnail {
	position: relative;
}
.product_thumbnail .close{
	background-color: #ff0000;
	opacity: 0.8;
	position: absolute;
	right:0;
	top:0;
	z-index: 10;
	padding: 0px 2px;
}

.sort{
	display:inline-block;
	position:relative
}
.sort:after{
	position:absolute;
	font-family: FontAwesome;
	top:0;
	right:-16px;	
}
.sort.asc:after{
	content: "\f0d8";	
}

.sort.desc:after{
	content: "\f0d7";	
}