a,a:focus{
	outline: none;
}

.nav-tabs{
	margin-bottom:40px;	
}

.row-item{
	border-bottom:1px solid #dedede;
	margin-bottom:10px;
	padding-bottom:10px;
}
.row-item.last{
	border:none;
	padding-bottom:0;
	margin-bottom:0;
}
.loading-image{
	display:none;	
}