/* ################# Responsive Overrides  ############*/

@media (min-width: 768px) and (max-width: 991px) {

 	.portal img, 
 	.event img{
		margin: 0 auto;
	}

	.portal, 
	.event{
		margin-bottom: 20px;
	}

	.hotel-holder{
		width: 50%;
		margin: 0 auto;
	}

	.navbar-custom .navbar-nav li>a{
		font-size: 13px;
	}

	.btn-forgot{
	 margin-top:11px;
	}

}

@media (max-width: 767px){

	body{
		border:none;
	}

	.secondary-nav{
		margin-right: 10px;
		font-size: 12px;
	}

	.navbar{
		margin-top: 0;
	}

	.navbar-custom{
		border-top: none;
	}

	.navbar-nav{
		margin-top:0;
	}

	.nav > li{
		width: 100%;
		border-top: 1px solid #eee;
	}

	.navbar-custom{
		background-color: white;
		position: fixed;
		z-index: 999;
		width: 100%;
		top: 0px;
	}

	.brand-wrapper-xs{
		margin-top: 70px;
	}

	/* border top #cacaca */
	.bt-ca{
		border-top: 1px solid #cacaca;
	}

	.section-title h1{
		margin-left: 10px;
	}

	.section-item-holder{
		padding-left: 10px;
		padding-right: 10px;
	}

	.section-item-holder img.img-responsive {
		width: 100%;
	} 

	.sub-page-title{
		height: 90px;
		background-position: 50% 100%;
		margin: 20px 0 20px 0;
	}

	.sub-page-title h1{
		font-size: 26px;
		line-height: 90px;
		margin-left: 10px;
	}

	footer .container{
		padding-left: 10px;
		padding-right: 10px;
	}

	footer .footer-content{
		text-align: center;
	}

	.hotel-holder {
		margin-top: 15px;
		margin-bottom: 5px;
		padding-top: 15px;
		border-top: 1px solid #cacaca;
	}

	.hotel-holder p, 
	.hotel-holder a{
		text-align: center;
		float: none;
		margin:0;
	}

	.hotel-holder img{
		margin:0 auto;
	}

	.section-group{
		margin: 0;
	}

	.section-title h1 {
		font-size: 22px;
		line-height: 24px;
	}

	.portal {
		margin-bottom: 10px;
	}

	.fbLike{
		margin-top:15px;
	}

	.panel-item{
		border-bottom: 1px solid #cacaca;
		padding-bottom: 20px;
		margin-bottom: 20px;
		height: 100%;
		min-height: 0;
	}

	.panel-item.last{
		border: none!important;
		padding-bottom: 0;
	}

	.bBtn{
		margin-bottom: 20px;
	}

	.contact-holder {
		padding-bottom: 30px;
		border-bottom: 1px solid #cacaca;
	}

	.contact-holder.last {
		border:none;
	}

	.contact-holder h2{
		margin:0 0 20px 0;
	}

	.contact-block{
		padding:0;
	}

	.contact-block.sep{
		padding: 0 0 12px 0;
		margin: 0;
		border-bottom:1px dashed #ccc;
	}

	.contact-block.sep.last{
		border-bottom: none;
		padding-bottom: 0;
	}

	.contact-block iframe{
		margin:0;
	}

	/*my basket style*/
	.basket-section,
	.checkout-section {
		margin-top: 20px;
	}

	.basket-section h2,
	.checkout-section h2 {
		font-size: 12px;
		margin: 0 0 25px 0;
	}

	.basket-section h3, 
	.basket-section h4, 
	.basket-section p,
	.checkout-section h3,
	.checkout-section h4,
	.checkout-section p {
		font-size: 14px;
		line-height: 14px;
	}

	/*form text field*/
	.form-control {
		padding: 6px 4px;
	}

	/*payment option block*/
	.payment-option p{
		margin-bottom: 20px;
	}

	.btn-calculate{
		margin-top:30px;
	}

	.btn-total{
		margin-top:10px;
	}

	.payment-option-holder{
		padding-bottom: 10px;
		border-bottom: 1px dashed #ccc;
	}

	.payment-option-holder label{
		font-size: 13px;
	}

	.total p.total-txt-value{
		font-size:18px;
		line-height: 20px;
		font-weight: 600;
	}

	/*basket forms*/
	.basket-form-sections{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px dashed #cacaca;
	}

	.basket-form-sections input.form-control {
		padding: 6px 6px;
	}

	.basket-form-sections.last{
		border: none;
	}

	.basket-form label{
		padding-bottom: 8px;
		padding-left: 10px;
	}

	.btn-forgot{
		margin-top: 13px;
	}

	/*customer info*/
	.checkout-section.customer{
		margin-bottom: 0;
		padding-bottom: 20px;
	}

	.checkout-section.customer span{
		margin-bottom: 10px;
	}

	.checkout-section.customer span.info{
		font-weight: 900;
		float:right;
	}

	/*fulfillment-section*/
	.fulfillment-section h2{
		font-size: 12px;
		color: #b29854;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.fulfillment-form{
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #cacaca;
	}

	.fulfillment-form.last{
		border:none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.fulfillment-form .form-group label{
		padding-left: 10px;
		margin-bottom: 8px;
	}


}

