@font-face {
  font-family: 'FunctionBook';
  src: url('../fonts/FunctionBook.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FunctionBook.woff') format('woff'),
	   url('../fonts/FunctionBook.ttf')  format('truetype'), 
	   url('../fonts/FunctionBook.svg#FunctionBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeue-Light.otf')  format('opentype'),
	   url('../fonts/HelveticaNeue-Light.woff') format('woff'), 
	   url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'), 
	   url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript';
  src: url('../fonts/DancingScript.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/DancingScript.woff') format('woff'), 
	   url('../fonts/DancingScript.ttf')  format('truetype'), 
	   url('../fonts/DancingScript.svg#DancingScript') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Bold';
  src: url('../fonts/DancingScript-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/DancingScript-Bold.woff') format('woff'), 
	   url('../fonts/DancingScript-Bold.ttf')  format('truetype'), 
	   url('../fonts/DancingScript-Bold.svg#DancingScript-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FunctionTwoDemi-Regular';
  src: url('../fonts/FunctionTwoDemi-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/FunctionTwoDemi-Regular.woff') format('woff'), 
	   url('../fonts/FunctionTwoDemi-Regular.ttf')  format('truetype'), 
	   url('../fonts/FunctionTwoDemi-Regular.svg#FunctionTwoDemi-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FunctionTwo-Regular';
  src: url('../fonts/FunctionTwo-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/FunctionTwo-Regular.woff') format('woff'), 
	   url('../fonts/FunctionTwo-Regular.ttf')  format('truetype'), 
	   url('../fonts/FunctionTwo-Regular.svg#FunctionTwo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FunctionBook';
  font-size: 16px;
  line-height: 20px;
  border-top: 3px solid #683c29;
  background-image:url(../images/bg-footer.png);
  background-repeat:no-repeat;
  background-position:center bottom;
  padding-bottom:220px;
  color:#3a3a3a;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'DancingScript';
	color:#683c29;
}

h1, .h1 {
    font-size: 52px;
}

a{
	color:#ee923b;	
}

a:hover, a:focus{
	color:#ee923b;	
}	

.sections{
	margin-bottom:80px;
}

.event{
	border-left: 2px solid #d2d2d2;
}

.event a{
	display: block;
	margin-left: 15px;
}

.title-a{
	color:#683c29;
	text-transform:uppercase;
	/*font-family: 'FunctionTwoDemi-Regular';*/
}

.hotel-holder{
	text-align:right;
}
	.hotel-holder ul li{
		vertical-align:middle;
	}
	.hotel-holder ul li:first-child{
		font-family: 'EB Garamond', serif;
		font-size: 16px;
		font-style: italic;
		font-weight: 700;
		color: #584d4a;
	}


.sub-page-title{
	height: 115px;
	background: #3e3633 url(../images/img-bg-page-title.jpg) no-repeat right top;
	position:relative;
}
	.sub-page-title .bg-flower{
		background-image:url(../images/bg-flower-title.png);
		background-repeat:no-repeat;
		width:246px;
		height:186px;
		right:-64px;
		top:-74px;
		position:absolute;
	}
.sub-page-title h1{
	line-height: 115px;
	margin: 0 0 0 36px;
}

.panel-item{
	position: relative;
	height: 100%;
	min-height: 390px;
	margin-bottom: 50px;
}

.panel-item h2, 
.panel-item h3, 
.checkout-section h3, 
.checkout-section h4,
.fulfillment-section h2,
.fulfilment-list h2,
.fulfilment-list h3,
.fulfilment-list h4{
	margin: 0;
	padding: 0;
}

.panel-item img{
	margin-bottom: 20px;
}

.panel-item h2, 
.basket-section h3{
	max-width: 95%;
	display: block;
	font-size: 18px;
	line-height: 20px;
	color:#493f3a;
	text-transform: uppercase;
	font-weight: 700;

}

.panel-item h3, 
.basket-section h4 {
	display: inline-block; 
	max-width: 90%; 
	font-size: 18px; 
	line-height: 27px; 
	color: #3a3a3a; 
	height: 100px; 
	max-height: 100px; 
	font-family: 'FunctionBook';
}

.title-cn { 
	font-weight: normal; 
}

.sections-product .section-title .title-text{
	display:inline-block;
	margin-right:20px;	
}

.panel-item h2 sup, 
.panel-item h3 sup{
	text-transform: uppercase;
	margin-left: 5px;
	color: #493f3a;
	font-size: 10px;
	font-weight: 700;
}

.panel-item.products .qty{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom-color:#747474;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}

.panel-item.products .price{
	font-size: 24px;
	color:#6a3b27;
	margin: 10px 0 20px 0;
}
	.panel-item.products .price span{
		color:#747474;
		font-size:16px;
	}

.panel-item.promo {
	min-height: 100px;
	border-top:1px solid #ccc;
	padding-top:30px;
}
	.panel-item.promo.first{
		border:none;	
	}

.panel-item.promo img{
	
}

.panel-item.promo h5{
	font-size:18px;
	color:#ee923b;
	font-family: 'FunctionTwoDemi-Regular';
}

.panel-item.promo h4{
	font-size: 20px;
	line-height: 20px;
	color: #683c29;
	margin: 0px 0 10px 0;
	padding: 0;
	text-transform:uppercase;
	font-family: 'FunctionBook';
}
.product-image-container{
	position:relative;
}
.ribbon-new{
	position: absolute;
	bottom: 0;
	left: 0;
}

.section-title{
	position: relative;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	margin-bottom:20px;
}

.section-title .title{
	margin: 16px 0;
}

.section-title .btn{
	margin: 16px 0;
}

footer .container{
	border-top: 1px solid #cacaca;
	padding: 20px 0;
}


.fbLike iframe{
	
}

.fbLike ul li{
	vertical-align:top;	
}

.fbLike p{
	
}

/*basket section*/
/*basket total block*/
.btn-grp-total{
	margin-top: 15px;
}

.total p.total-txt-label, 
.total p.total-txt-value{
	text-align: right;
} 

.total p.total-txt-label{
	color:#444444;
	padding-top: 4px;
}

.total p.total-txt-value{
	font-size:24px;
	line-height: 26px;
	color: black;
}

.required{
	color:#6c1c2f;
}

.basket-form label{
	text-transform: capitalize;
	text-align: left!important;
	padding-left:10px;
}

.form-title{
	font-size: 16px;
	text-transform:uppercase;
	margin-bottom: 20px;
	font-weight:bold;
	color:#683c29;
}

.basket-form-sections.last{
	background-color: #f5f5f5;
	padding: 20px;
}

.btn-forgot{
	padding-top:6px;
	margin-top:20px;
}

/*checkout section*/
.checkout-section h2,
.checkout-section h3,
.checkout-section h4,
.fulfilment-list h2,
.fulfilment-list h3,
.fulfilment-list h4{
	font-size:14px;
	line-height: 16px
}

.checkout-section h2{
	color:#b29854;
}

.checkout-section h3{
	color:#343434;
}

.checkout-section h3 sup,
.fulfilment-list h3 sup{
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	color:#6c1c2f;
}

.checkout-list span{
	margin-right:20px;
}

/*fulfillment-section*/
.fulfillment-section{
	background-color: #f5f5f5;
	margin: 20px 0;
	padding:20px;
}

.fulfilment-list{
	margin-bottom: 10px;
}

.fulfillment-section h2{
	font-size: 14px;
	color: #b29854;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.fulfillment-form .form-group label{
	text-transform: uppercase;
}

.lined-section{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #cacaca;
}
	.lined-section.border-bottom-removed{
		border-bottom:none;	
	}

.basket-section.last, 
.checkout-section.last{
	border-bottom:none;
}

.basket-section h2, 
.checkout-section h2{
	font-size:14px;
	font-weight: 600px;
	text-transform: uppercase;
	margin: 0 0 40px 0;
	padding: 0;
}

.basket-section h2{
	color: #5b5b5b;
}

.basket-section p{
	font-size: 16px;
	line-height: 18px;
	color: #b29854;
}

.basket-list, .checkout-list{
	margin-bottom: 20px;
}

/*check-out section*/
.checkout-section.customer span.info{
	font-weight: 900;
	margin-left: 10px;
}

/*payment option block*/

.payment-option p{
	text-transform: uppercase;
	color: #5b5b5b;
}

.payment-option label{
	margin-left: 10px;
}

.payment-option .radio{
	margin-top: 0;
}

.btn-calculate{
	margin-top:50px;
}



/* ################# Helpers ##########################*/
/* margin top */

.mt0{
	margin-top:0;
}

.mt10{
	margin-top:10px;
}

.mt20{
	margin-top:20px;
}

.mt25{
	margin-top:25px;
}

/* ################# Bootsrap Overrides ###############*/

/* custom button */

.btn{
	border:none;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}

.btn-default{
	background-color: #f99d48;
	border-color: #f99d48;
}

.btn-primary{
	background-color: #999999;
	border-color: #999999;
}

.btn-primary:hover{
	background-color: #757575;
	border-color: #757575;
}

.btn-default:hover{
	background-color: #7e5e51;
	border-color: #7e5e51;
	color:white;
}

.btn-default:focus{
	outline: none!important;
	background-color:#7e5e51;
	border-color: #7e5e51;
	color: white;
}

/*custom navbar*/

.nav > li{
	text-align: center;
}

.navbar{
	border-radius: 0;
	margin:20px auto;
}

.navbar-custom .navbar-nav li>a{
	position:relative;	
	color: #404040;
	font-size:16px;
	text-transform: uppercase;
}
.navbar-custom .navbar-nav li>a:after{
	content:"";
	border-top:5px solid #f89e48;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	display:none;
}
.navbar-custom .navbar-nav li>a:hover{
	color:black;
}
.navbar-custom .navbar-nav li>a:hover:after,
.navbar-custom .navbar-nav li.active>a:after{
	display:block;
}

.navbar-custom .navbar-nav li>a,  
.navbar-custom .navbar-nav li>a:focus{
	background: none!important; 
}

.navbar-custom .navbar-nav>.active>a, 
.navbar-custom .navbar-nav>.active>a:hover, 
.navbar-custom .navbar-nav>.active>a:focus{
	text-transform: uppercase;
	color: #493f3a;
	font-weight:700!important;
	background-color: none!important; 
}

.navbar-custom .navbar-toggle:hover, 
.navbar-custom .navbar-toggle:focus{
	background-color:none;
}

.navbar-custom .navbar-toggle{
	border-color:gray;
	float: left;
	margin-left: 15px;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
}

.navbar-toggle .icon-bar{
	background-color:black;
}

/*top navigation*/
.secondary-nav{
	float:right;
	padding-top:15px;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.secondary-nav span a, 
.secondary-nav span a:hover{
	display: inline-block;
	margin:0 10px 0 0;
	padding:0;
	color:#493f3a;
	font-weight: 700;
}

.secondary-nav a,  
.secondary-nav a:focus{
	color:gray;
	text-decoration: none;
}

.secondary-nav a:hover{
	color:black;
}

.secondary-nav a.selected{
	font-weight: 900;
	color: black;
}

ol.carousel-indicators li, 
ol.carousel-indicators li.active{
	margin:0 1%;
	width: 12px;
	height: 12px;
} 

/* forms */
.form-control{
	border-radius: 0;
}

.form-control:focus {
	border-color: gray;
	box-shadow: none;
}

.control-label{
	text-transform: uppercase;
	margin-top: 8px;
	padding-left: 0;
}

a.mailto, 
a.mailto:hover, 
a.mailto:visited{
	color: #b58d25;
}

/*bootstrap date-picker Overrides*/
.datepicker {
	 margin-top: 0; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.top-cart{
	color:#fff;
	background-color:#683c29;
	padding:8px 24px;
	font-size:12px;
	text-transform:uppercase;
	
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
	.top-cart ul{
		margin:0;	
	}
	.top-cart a{
		color:#fff;	
	}
	.top-cart .cart-button{
		font-family: 'FunctionTwoDemi-Regular';
	}

.home-carousel-container{
	position:relative;	
}
	.home-carousel-container .bg-flower{
		position:absolute;
		right:-84px;
		top:-70px;
		background-repeat:no-repeat;
		background-image:url("../images/bg-flower-slider.png");
		width:271px;
		height:448px;
	}

.map-contact{
	width:100%;
	height:500px;	
}

.block-panel{
	padding:40px;	
}
.block-grey{
	background-color:#f2f2f2;
}
.block-mooncake-booths h2{
	margin-bottom:40px;	
}

.fb-share-button{
	margin-left: 15px;
    margin-top: 14px;	
}

.table > thead > tr > th{
	color: #683c29;
}

.carousel-control.right{
	background-image:none;	
}

.carousel-control.left{
	background-image:none;	
}

/* ################# Responsive Overrides  ############*/

@media (max-width: 991px) {
	.sub-page-title .bg-flower{
		display:none;	
	}

	.home-carousel-container .bg-flower{
		display: none;
	}
	
	.panel-item.promo img {
    	/*width: 100%;*/
		margin-right:auto;
		margin-left:auto;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.hotel-holder{
		text-align:center;	
	}
	
 	.portal img, 
 	.event img{
		margin: 0 auto;
	}

	.portal, 
	.event{
		margin-bottom: 20px;
	}

	.navbar-custom .navbar-nav li>a{
		font-size: 13px;
	}

	.btn-forgot{
	 margin-top:11px;
	}

}

@media (min-width: 768px){
	.hotel-holder ul li{
		width:auto;
		float:none;	
	}
}

@media (max-width: 767px){
	body{
		padding-top:42px;
	}
	.top-cart{
		position:fixed;
		top:3px;
		right:10px;
		z-index:1000;
	}
	
	.navbar-custom .navbar-collapse{
		background-color:#e0e0e0;	
	}
	
	.navbar-custom .navbar-header{
		-webkit-box-shadow: 0px 7px 12px -7px rgba(120,120,120,0.65);
		-moz-box-shadow: 0px 7px 12px -7px rgba(120,120,120,0.65);
		box-shadow: 0px 7px 12px -7px rgba(120,120,120,0.65);	
	}
	
	.navbar-custom .navbar-nav li>a:after{
		border-top:none;
	}
	.navbar-custom .navbar-nav li.active>a{
		background-color:#f89e48 !important;
		color:#fff;	
	}
	.navbar-custom .navbar-nav > .active > a, 
	.navbar-custom .navbar-nav > .active > a:hover, 
	.navbar-custom .navbar-nav > .active > a:focus{
		color:#fff;	
	}
	
	.hotel-holder{
		text-align:center;
	}

	.secondary-nav{
		margin-right: 10px;
		font-size: 12px;
	}

	.navbar{
		margin-top: 0;
	}

	.navbar-custom{
		border-top: none;
	}

	.navbar-nav{
		margin-top:0;
	}

	.nav > li{
		width: 100%;
		border-top: 1px solid #eee;
	}

	.navbar-custom{
		background-color: white;
		position: fixed;
		z-index: 999;
		width: 100%;
		top: 0;
		left:0;
		border-top: 3px solid #683c29;
	}
	
	.navbar-custom .navbar-nav li > a:hover{
		color:#848484;	
	}

	.brand-wrapper-xs{
		margin-top: 70px;
	}

	.section-title h1{
		margin-left: 10px;
	}
	
	.map-contact {
    	height: 278px;
	}

	.sub-page-title{
		height: 90px;
		background-position: right -278px center;
	}

	.sub-page-title h1{
		font-size: 26px;
		line-height: 90px;
		margin-left: 15px;
	}

	footer .container{
		padding-left: 10px;
		padding-right: 10px;
	}

	footer .footer-content{
		text-align: center;
	}

	.hotel-holder {
		margin-top: 15px;
		margin-bottom: 5px;
		padding-top: 15px;
		border-top: 1px solid #cacaca;
	}

	.hotel-holder p, 
	.hotel-holder a{
		text-align: center;
		float: none;
		margin:0;
	}

	.hotel-holder img{
		margin:0 auto;
	}

	.section-title h1 {
		font-size: 22px;
		line-height: 24px;
	}
	
	.fbLike{
		text-align:center;	
	}

	.portal {
		margin-bottom: 10px;
	}

	.fbLike{
		margin-top:15px;
	}

	.panel-item.last{
		border: none!important;
		padding-bottom: 0;
	}

	.bBtn{
		margin-bottom: 20px;
	}

	/*my basket style*/
	.basket-section,
	.checkout-section {
		margin-top: 20px;
	}

	.basket-section h2,
	.checkout-section h2 {
		font-size: 12px;
		margin: 0 0 25px 0;
	}

	.basket-section h3, 
	.basket-section h4, 
	.basket-section p,
	.checkout-section h3,
	.checkout-section h4,
	.checkout-section p {
		font-size: 14px;
		line-height: 14px;
	}

	/*form text field*/
	.form-control {
		padding: 6px 4px;
	}

	/*payment option block*/
	.payment-option p{
		margin-bottom: 20px;
	}

	.btn-calculate{
		margin-top:30px;
	}

	.btn-total{
		margin-top:10px;
	}

	.payment-option-holder{
		padding-bottom: 10px;
		border-bottom: 1px dashed #ccc;
	}

	.payment-option-holder label{
		font-size: 13px;
	}

	.total p.total-txt-value{
		font-size:18px;
		line-height: 20px;
		font-weight: 600;
	}

	/*basket forms*/
	.basket-form-sections{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px dashed #cacaca;
	}

	.basket-form-sections input.form-control {
		padding: 6px 6px;
	}

	.basket-form-sections.last{
		border: none;
	}

	.basket-form label{
		padding-bottom: 8px;
		padding-left: 10px;
	}

	.btn-forgot{
		margin-top: 13px;
	}

	/*customer info*/
	.checkout-section.customer{
		margin-bottom: 0;
		padding-bottom: 20px;
	}

	.checkout-section.customer span{
		margin-bottom: 10px;
	}

	.checkout-section.customer span.info{
		font-weight: 900;
		float:right;
	}

	/*fulfillment-section*/
	.fulfillment-section h2{
		font-size: 12px;
		color: #b29854;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.fulfillment-form{
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #cacaca;
	}

	.fulfillment-form.last{
		border:none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.fulfillment-form .form-group label{
		padding-left: 10px;
		margin-bottom: 8px;
	}
}

@media (max-width: 479px){
	.hotel-holder img{
		height:38px;
	}
}