/* ################# Overrides #########################*/
.datepicker-days td.day{cursor: pointer;}
.datepicker-days td.day.active{background-color: #b29854; border-color: #b29854; color: #fff;}
.delivery-extra{ display: none; }
textarea.form-control { max-width: 100%; }
.btn[disabled], .btn.disabled { background-color: #D1CDC1; }
.error { color: red;font-weight: 700;font-size: 12px; }
.promocode-wrapper label{ margin-left: 0; }
.has-feedback .form-control-feedback{ top:16px; }
.login-section{ margin-top:30px; }
.fulfillment-list { border-bottom: solid 1px #aaa; padding: 10px 0;}
.panel-item.col-xs-12.col-sm-6.col-md-6 .img-responsive{ width:100%; }
.payment-option p {text-transform: none;}
.h5-active{ border-color: #ccc;}
.ui-state-error.h5-active{ border-color: #f00 !important;}
.total p.total-txt-value.text-danger { color: red;}