@font-face {
  font-family: 'FunctionBook';
  src: url('../fonts/FunctionBook.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FunctionBook.woff') format('woff'),
	   url('../fonts/FunctionBook.ttf')  format('truetype'), 
	   url('../fonts/FunctionBook.svg#FunctionBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript';
  src: url('../fonts/DancingScript.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/DancingScript.woff') format('woff'), 
	   url('../fonts/DancingScript.ttf')  format('truetype'), 
	   url('../fonts/DancingScript.svg#DancingScript') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 50px 0;
	font-family: 'FunctionBook';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'DancingScript';
	color:#683c29;
}

a,a:focus{
	outline: none;
}

.acenter{
	margin: 0 auto;
}

.redclr{
	line-height: 0;
	height: 0;
	color: #ff0000;
}

.marg20{
	margin: 20px 0;
}

.marg10{
	margin: 10px 0;
}







.table > tbody > tr > td{
	vertical-align: middle;
    padding: 5px 15px;
    font-size: 16px;
}

.logocn{
	border-left: 2px solid #d2d2d2
}

.logocel{
	margin-top: 6px;
}

.panel-default > .panel-heading{
	background-color: transparent;
	border-color: #d9d9d9;
}

.panel-title{
	font-family: 'DancingScript';
	color:#683c29;
	font-size: 34px;
	line-height:1.5;
}

.form-control{
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
}

.input-group-addon{
	-webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 	
}

.btnposition1{
	padding: 11px 15px;
    position: relative;
    top: -3px;
}

.btnposition3{
	margin-top: -15px;
	margin-left: -15px;
}

.droparrow select{
	-webkit-appearance: none;
    -moz-appearance: none;
}

.form-inline, .form-horizontal{
	width:95%;
	margin: 0 auto;
}

.label-search{
	margin-top:10px;
	color:#683c29;
	text-transform:uppercase;
}

.nav-tabs{
	border: 0;
	margin-bottom: 15px;
}

.nav-tabs > li > a{
	margin-right: 5px;
    line-height: 1.5;
	border: 1px solid #e0e0e0;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
    color: #5d5d5d;
    background-color: #e0e0e0;
    font-size: 18px;
	text-align: center;
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: #ffffff;
    cursor: default;
    background-color: #f29741;
    border: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.nav-tabs.nav-justified > li > a{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
}

.nav > li > a{
	padding: 15px 20px;
	border:none;
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
}
	.nav-tabs.nav-justified > li > a{
		border-bottom:none;	
	}

.nav-tabs > li > a:hover{
	background-color: #bbbbbb;
	color:#fff;
}

.btn{
	-webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}

.btn-primary {
    background: #ffffff;
    border: 1px solid #683c29;
	color: #683c29;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus{
	border:none;	
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary:active.focus, .btn-primary.active.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
	background-color:#ffffff;
	border-color: #b52f30;
	color:#b52f30;
}

.alert-info{
	background-color: #FFFEEC;
    border-color: #fffeec;
    color: #683c29;
}

th{
	font-size: 14px;
}

hr{
	border: 0;
}

.btn-info{
	background-color: #999999;
	border-color: #888888;
	padding: 5px 8px;
}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .btn-info:active:hover, .btn-info.active:hover,.open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus{
	background-color: #666666;
	border-color: #666666;
}
	
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	border: 1px solid #eeeeee;
}

.btncustom1{
	width: 44px;
    text-align: center;
    color: #683c29;
    border: 1px solid #683c29;
}

.btncustom1:hover, .btncustom1:active, .btncustom1:focus{
	background-color: #683c29;
	border: 1px solid #683c29;
	color: #ffffff;
}

.boxsize{
		width: 350px;
	}

.fltright{
	float: right;
}
	
.form-inline .form-control{
	display: inline-block;
	width: auto;
}

.boxsize1{
		width: 30%; 
}


.mb0{
	margin-bottom:0;	
}

.mt20{
	margin-top:20px;	
}

.panel{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
	
	border:none;
	margin-bottom:40px;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}
.panel-heading{

	
	border-top: 1px solid transparent;
	border-bottom: none;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}	
.panel-body{
	padding:0;
	border:1px solid #d9d9d9;
}
	.panel-body .body-content{
		margin:20px;
	}

.order-section{
	background-color:#f9f9f9;	
}

.form-horizontal .control-label{
	text-transform:uppercase;
	color:#683c29;
	font-weight:normal;
}

.modal-title{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;	
}

@media only screen and (max-width: 768px) {
	
.btn-primary{
		width: 100%;
		margin: 20px 0;
}


}

@media screen and (max-width: 767px) {
	
}